<div >
  <% if course.errors.any? %>
    <div>
      <p class="">Foram encontrados <%= course.errors.count %> erro(s):</p>
    </div> 
    <div>
      <% course.errors.full_messages.each do |error| %>
        <div>
          <li class=""><%= error %></li>
        </div> 
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form_with model: course do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div>
        <%= f.label :code %>
        <%= f.text_field :code %>
      </div>
      <div>
        <%= f.label :price %>
       <%= f.number_field :price %>
      </div>
      <div>
        <%= f.label :enrollment_deadline %>
        <%= f.date_field :enrollment_deadline %>
      </div>

      <div>
       <%= f.label :instructor_id, 'Instrutor(a)' %>
       <%= f.collection_select :instructor_id, instructors, :id, :display_name %>
      </div>

      <div>
        <%= f.label :banner %>
        <%= f.file_field :banner  %>
      </div>
      <%= f.submit button_text %>
    <% end %>
  </div>
</div>