<h1>Detalhes do curso</h1>

<table style="text-align:center;">
    <tr>
        <td>
            <h2><%= @course.name %></h2>
        </td>
    </tr>
    <tr>
        <th>Descrição</th>
    </tr>
    <tr>
        <td><%= @course.description %></td>
    </tr>
    <tr>
        <th>Código</th>
        <tr>
            <td><%= @course.code %></td>
        </tr>
    </tr>
    <tr>
        <th>Preço</th>
        <tr>
            <td><%= number_to_currency @course.price, 
                                        unit: 'R$', 
                                        separator: ',', 
                                        delimiter: '.', 
                                        format: '%u %n' %>
            </td>
        </tr>
    </tr>
    <tr>
        <th>Data limite de matricula</th>
        <tr>
            <td><%= @course.enrollment_deadline.strftime('%d/%m/%Y') %></td>
        </tr>
    </tr>
    <tr>
        <th>Banner</th>
        <tr>
            <% if @course.banner.attached? %>
                <td><%= image_tag @course.banner %></td>
            <% end %>
        </tr>
    </tr>

</table>

<br>
<%= link_to 'Voltar', courses_path %>
<%= link_to "Editar", edit_course_path(@course) %>
<%= link_to "Apagar", @course, method: :delete %>