<section>
    <header class="App-flex-center">
        <% if @courses.empty? %>
            <h3>Nenhum curso disponível</h3>     
        <% else %>
            <h3>Cursos Disponíveis</h3>
        <% end %>
    </header>
    
    <article>
        <header class="App-flex-center">
            <%= link_to "Registrar um Curso", new_admin_course_path, method: :get, style: "width:30%", class: 'App-navigation-button App-round-border' %>
            <%= link_to "Voltar", root_path, method: :get, style: "width:30%", class: 'App-navigation-button App-round-border' %>
        </header>
        <div class="App-flex-center App-flex-column" style="width:50%;margin:6rem auto">
            <% @courses.each do |course| %>
                <table style="text-align:center;">
                    <thead>
                        <tr>
                            <h2><%= link_to course.name, [:admin, course] %></h2>
                        </tr>
                    </thead>
                    <tr>
                        <th><h3>Descrição</h3></th>
                    </tr>
                    <tr>
                        <td><p><%= course.description %></p></td>
                    </tr>
                    <tr>
                        <th><h3>Preço</h3></th>
                    </tr>
                    <tr>
                        <td><p><%= number_to_currency course.price %></p></td>
                    </tr>
                </table>
            <% end %>
        </div>
    </article>
</section>