<section>
    <header>
        <h1>Detalhes do curso</h1>
    </header>
 
    <article>
        <header>
            <div class="">
                <%= link_to 'Registrar uma aula', new_admin_course_lesson_path(@course), style: "width:8%", class: '' %>
                <%= link_to "Editar", edit_admin_course_path(@course), style: "width:8%", class: '' %>
                <%= link_to "Apagar", [:admin, @course], method: :delete, style: "width:8%", class: '' %>
                <%= link_to 'Voltar', admin_courses_path, style: "width:8%", class: '' %>
            </div>
        </header>   

        <div class="" style="width:50%;margin:6rem auto">
            <% if @course.banner.attached? %>
            <%= image_tag @course.banner %>
            <% end %>
            
            <table style="text-align:center;">
                <tr>
                    <td>
                        <h2><%= @course.name %></h2>
                    </td>
                </tr>
                <tr>
                    <th><%= Course.human_attribute_name(:description) %></th>
                </tr>
                <tr>
                    <td><%= @course.description %></td>
                </tr>
                <tr>
                    <th>Código</th>
                    <tr>
                        <td><%= @course.code %></td>
                    </tr>
                </tr>
                <tr>
                    <th>Preço</th>
                    <tr>
                        <td><%= number_to_currency @course.price %>
                        </td>
                    </tr>
                </tr>
                <tr>
                    <th>Data limite de matricula</th>
                    <tr>
                        <td><%= l @course.enrollment_deadline %></td>
                    </tr>
                </tr>
                <tr>
                    <th>Instrutor(a)</th>
                    <tr>
                        <td><%= @course.instructor.name %></td>
                    </tr>
                </tr>                           
                
            </table>
            <div id="lessons">
                <% unless @course.lessons.any? %>
                    <p><%= t('.empty')%></p>
                <% end %>
                <% @course.lessons.each do |lesson| %> 
                    <%= link_to lesson.name, [:admin, @course, lesson] %> 
                    <p><%= t('lesson.duration', count: lesson.duration) %></p>
                <% end %>
            </div>

        </div>
    </article>
</section>