<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" sizes="16x16" href="/assets/favicon/favicon-a661a9ff4b3971bdf8624c6356c4eafcad2132334c14fb6fa8d1de80d1a592ab.ico">
    <link rel="icon" sizes="36x36" href="https://www.treinadev.com.br/assets/favicon/android-icon-36x36-0c57322116d5ac033dbebfd3035d43094380caac4d29ccdf15956d63253bfb25.png">
    <link rel="icon" sizes="48x48" href="https://www.treinadev.com.br/assets/favicon/android-icon-48x48-fe7317a0f39a17e72a25424139270340b42069b28325c8d1f8225931ac89acec.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <a class="" onclick="OpenSideBar()">☰</a>
      <h1>Codeplay</h1>
      <p>Área do Admin</p>
      <% if user_signed_in? %>
        <div>
          <%= current_user.email %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>      
        </div>
      <% else %>
        <div>
          <%= link_to 'Entrar', new_user_session_path, method: :get, class: "" %>
        </div>
      <% end %>
    </header>

    <nav id="sidebarMenu" class=""><br>
        <a onclick="CloseSideBar()" style="color: black;font-size:2rem">X</a>
        <a href=<%= root_path %> style="color: black;font-size:2rem">HOME</a>
        <%= link_to 'Ver Cursos', admin_courses_path, style: "color: black;font-size:2rem" %>
      <div>
      </div>
        <div>
      </div>
    </nav> 
    <main>
      <% if notice %>
        <div>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div>
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <script>
      function OpenSideBar() {
        const sidebar = document.getElementById("sidebarMenu") 
        sidebar.classList.remove('App-animate-left-return');
        sidebar.classList.add('App-animate-left');
        sidebar.style.display = "flex";
      }

      function CloseSideBar() {
        const sidebar = document.getElementById("sidebarMenu") 
        sidebar.classList.remove('App-animate-left');
        sidebar.classList.add('App-animate-left-return');
        setTimeout(() => { 
          document.getElementById("sidebarMenu").style.display = "none"; 
        }, 500);
      }
    </script>

  <script>
    var close = document.getElementsByClassName("App-btn-close-alert");
    var i;

    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){

        var div = this.parentElement;

        div.style.opacity = "0";

        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
</script>
  </body>
</html>
