<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Sidebar/menu on larges screens -->

    <nav ><br>
      <a>Close Menu</a>
      <div >
        <h3 >Codeplay Navbar</h3>
      </div>
      <div >
        <a >Home</a> 
        <a >Ver Todos Cursos</a> 
      </div>
    </nav> 


    <!-- Top menu on small screens -->
    <header >|
      <a>☰</a>
      <span>Codeplay</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div ></div>

    <!-- !PAGE CONTENT! -->
    <main class="">
      <% if notice %>
        <div>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div>
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
