<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" sizes="16x16" href="/assets/favicon/favicon-a661a9ff4b3971bdf8624c6356c4eafcad2132334c14fb6fa8d1de80d1a592ab.ico">
    <link rel="icon" sizes="36x36" href="https://www.treinadev.com.br/assets/favicon/android-icon-36x36-0c57322116d5ac033dbebfd3035d43094380caac4d29ccdf15956d63253bfb25.png">
    <link rel="icon" sizes="48x48" href="https://www.treinadev.com.br/assets/favicon/android-icon-48x48-fe7317a0f39a17e72a25424139270340b42069b28325c8d1f8225931ac89acec.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <a class="" onclick="OpenSideBar()">☰</a>
          <h1><a href=<%= root_path %>>Codeplay</a></h1>
           <p>Área deslogada</p>
    </header>

    <nav id="sidebarMenu" class=""><br>
      <div class="" style="width:100%">
        <a href="#" style="color: black;font-size:2rem">MENU</a>
          <a onclick="CloseSideBar()" style="color: black;font-size:2rem">X</a>
      </div>
      <div class="" style="width:100%">
          <div class="">
            <a style="color: black;">Tem cadastro na CodePlay?</a>
            <%= link_to 'Acesse seu Perfil', new_student_session_path, method: :get, class: "", style: "color:black;" %>
          
          </div>
          <%= link_to 'Registrar-me', new_student_registration_path, method: :get, class: "", style: "color:black;" %>
          <%= link_to 'Entrar como Administrador', new_user_session_path, method: :get, class: "", style: "color:black;" %>
      </div>

    </nav>
    <main>
      
      <% if notice %>
        <div>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div>
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <script>
      function OpenSideBar() {
        const sidebar = document.getElementById("sidebarMenu") 
        sidebar.classList.remove('App-animate-left-return');
        sidebar.classList.add('App-animate-left');
        sidebar.style.display = "flex";
      }

      function CloseSideBar() {
        const sidebar = document.getElementById("sidebarMenu") 
        sidebar.classList.remove('App-animate-left');
        sidebar.classList.add('App-animate-left-return');
        setTimeout(() => { 
          document.getElementById("sidebarMenu").style.display = "none"; 
        }, 500);
      }
    </script>

  <script>
    var close = document.getElementsByClassName("App-btn-close-alert");
    var i;

    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){

        var div = this.parentElement;

        div.style.opacity = "0";

        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
</script>
  </body>
</html>
