<!DOCTYPE html>
<html>
  <head>
    <title>Codeplay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/public/favicon.ico">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Top menu on small screens -->
    <header class="App-main-header">|
      <a>☰</a>
      <h1>Codeplay</h1>
    </header>

    <!-- Sidebar/menu on larges screens -->
    <nav><br>
        <h1>Codeplay</h1>
      <div >
      </div>
      <div >
        <a>NavBar</a> 
      </div>
    </nav> 
    <!-- !PAGE CONTENT! -->
    <main>
      <% if notice %>
        <div>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div>
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
